@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    max-width: 1300px;
    margin: 0 auto;

}

/* heder area  */
.container {
    width: 1300px;
}

.head-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 32);
    margin-bottom: 200px;

    padding: 30px;
    border-radius: 20px;
}

.heading {
    width: 50%;
    color: beige;
}

.heading h1 {
    font-size: 3.5em;
}

.heading p {
    font-size: 1.5em;
}

.watch-live {
    background-color: tomato;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

.picture img {
    width: 100%;
    height: 100%;
}


/* main area  */

.midarea {
    display: grid;
    grid-template-columns: 400px repeat(1, 1fr);
    margin-bottom: 200px;
}

.option a {
    background-color: white;
    height: 50px;
    width: 300px;
    font-size: 40px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#hyperblog {
    background-color: red;
    color: rgb(58, 18, 18);
    font-size: 30px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.option a:hover {
    background-color: red;
}

.options {
    background-color: black;
    border-radius: 20px;
    margin-right: 20px;
    height: 90%;


}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}




.blog {
    display: flex;
    flex-direction: column;
    width: 94%;
    align-items: center;
}

.flag {
    display: flex;
    font-size: 40px;
}


.transfar {
    background-color: azure;
    width: 80px;
    height: 30px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
}

.blog-details {
    font-size: 15px;
}

.icon {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}


.footer {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.footer h1 {
    color: gainsboro;
    font-size: 2.5em;
}

.footer hr {
    border: 1px 0px solid wheat;
    width: 100%;
}

.about {
    width: 80%;
    display: flex;
    justify-content: space-around;

}

.about a {
    text-decoration: none;
    color: gray;
    font-size: 1.1em;
}

.social-media {
    font-size: 2.5em;
    visibility: hidden;
}


/* media screen for mobile  */
@media screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    .head-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkblue;

    }

    .midarea {
        display: flex;
        flex-direction: column;
        margin-top: 400px;
    }

    .options {
        margin-bottom: 2%;

    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .footer {
        height: 100%;
    }



    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* media screen for tab  */

@media screen and (min-width:689px) and (max-width:992px) {




    .container {
        width: 100%;
    }

    .midarea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .option {
        display: flex;
        flex-direction: row;
    }

    #hyperblog {
        height: 100%;
    }

    .options {

        background-color: darkblue;
        width: 100%;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }

    .about {
        display: flow-root;
        justify-content: space-evenly;
    }
}