@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    max-width: 1300px;
    margin: 0 auto;

}

/* heder area  */
.container {
    width: 1300px;
}

.head-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 32);
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 20px;
    width: 96%;
}

@keyframes sliding {

    0% {
        left: 0;
        top: 0;
        background-color: yellowgreen;

    }

    50% {
        top: 350px;
        background-color: white;

    }

    100% {
        top: 0;
        background-color: red;
        left: 1000px;
        transform: rotate(360deg);

    }

}

.fa-futbol {
    font-size: 50px;
}

.ball {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: sliding 6s ease-in-out 1s infinite alternate;
    animation-play-state: running;
}

.heading {
    width: 50%;
    color: beige;
}

.heading h1 {
    font-size: 3.5em;
}

.heading p {
    font-size: 1.5em;
}

.watch-live {
    background-color: tomato;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
}

.picture {
    width: 50%;
}

.picture img {
    width: 80%;
    height: 100%;
}


/* main area  */

.midarea {
    display: grid;
    grid-template-columns: 400px repeat(1, 1fr);
}

.option a {
    background-color: white;
    height: 50px;
    width: 300px;
    font-size: 40px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#hyperblog {
    background-color: red;
    color: aliceblue;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.option a:hover {
    background-color: red;
}

.options {
    background-color: black;
    border-radius: 20px;
    margin-right: 20px;
    height: 35%;


}







.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;


}




.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog img {
    width: 95%;
    height: 200px;
}

.transfar {
    background-color: azure;
    width: 80px;
    height: 30px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
}

.blog-details {
    font-size: 15px;
}

.icon {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}

.view-all {
    background-color: black;
    visibility: hidden;
}


.footer {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h1 {
    color: gainsboro;
    font-size: 2.5em;
}

.footer hr {
    border: 1px 0px solid wheat;
    width: 100%;
}

.footer-details {
    height: 100%;
}


.footer-details a {
    text-decoration: none;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 40px;
    margin-right: 20px;
    color: aliceblue;

}

.social {
    visibility: hidden;

}








/* media screen for mobile  */
@media screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    .head-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .midarea {
        display: flex;
        flex-direction: column;
        margin-top: 400px;
    }

    .options {
        margin-bottom: 20px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 20px;
    }

    .footer {
        height: 100%;


    }

    .footer-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10%;

    }

    .footer-details a {
        margin-top: 40px;
        margin-bottom: 20px;
        display: none;
    }

    .social {
        visibility: visible;
        margin: 50px;

    }

    .social a {
        margin: 40px;
        font-size: 2.5em;
        color: aliceblue;
    }
}

/* media screen for tab  */

@media screen and (min-width:689px) and (max-width:992px) {




    .container {
        width: 100%;
    }

    .midarea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .option {
        display: flex;
        flex-direction: row;
    }

    .options {

        background-color: aliceblue;
        width: 100%;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all {
        visibility: visible;
        margin-bottom: 10%;
    }

    .footer-details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}